.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.List {
  background-color: #6a6fc9;
  display: flex;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
}

.List p {
  margin-bottom: 0px;
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
}

.List-left{
  margin-left: auto;
}

.custom-input {
  margin-top: 4px;
}

.ui.checkbox .box:before, .ui.checkbox label:before {
  background: transparent !important;
  border: 2px solid white !important;
}
input:focus~label:before {
  border-color: none !important;
}

.ui.checkbox input:checked~label:after {
  color: white !important;
}

.ui.button {
  color: white !important;
  background: transparent !important;
  padding: 0px !important;
  margin-top: 5px !important;
}
.ui.icon.button > .icon {
  vertical-align: middle !important;
}