input[type=text]{
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  outline: none;
  padding: 10px;
  margin: 0;
}

.addList {
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 18px;
  width: fit-content;
}

.ui.button {
  color: white !important;
  background: transparent !important;
  padding: 0px !important;
  margin-top: 5px !important;
}
.ui.icon.button > .icon {
  vertical-align: middle !important;
}

.btn-primary {
  background-color: transparent !important;
  border-color: transparent !important;
  padding: 8px !important;
  margin-top: 5px !important;
}