.main {
  display: flex; 
  flex-direction: row;
  justify-content: center;
}

.list {
  border-radius: 20px;
  height: fit-content;
  width: max-content;
  margin-top:70px;
  padding: 25px;
  background-color: #262626;
  color: white;
}



